# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Datasets
*.h5

# VTK files
*.vtk

# Virtual environments
examples/ARO/outputs_mach/
examples/ARO/outputs_pressure
examples/ARO/outputs_pressure_norm
data
dgn4cfd_env
venv/
.env/
env/

# Logs and debug files
*.log
*.out
*.err

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/